# Flutter related
/.dart_tool/
/.buildlog/
/.idea/
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies
/.metadata
/.android
/.ios
/.dart_tools/
/.pub-cache/
/.build/
/dist/
.pub/
/out/

# Dependency directories
build/
ios/Pods/
android/.gradle/
android/app/*.iml
android/local.properties

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# MacOS related
*.DS_Store

# Linux related
linux/
.snap/

# Windows related
windows/

# Web related
web/

# Other IDEs and Editors
*.swp
*.swo
*~
